@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Modak&family=Rubik+Bubbles&family=Rubik+Vinyl&display=swap');


body{
  @apply bg-black;
}


.rubik-bubbles-regular {
  font-family: "Rubik Bubbles", serif;
  font-weight: 400;
  font-style: normal;
}

.heading{
  @apply text-[32px] text-white  font-bold mt-24 mb-6;
}


.bg-hero{
  background-image: url("/background1.png");
}

.bg-services{
  background-image: url("/bubble1.png");
}


.scroll-snap-y {
  scroll-snap-type: y mandatory;
}

.scroll-snap-align-center {
  scroll-snap-align: center;
}
